/* INICIO HEADER */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}
  
.menu{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

.logo{
  width: 15%;
  margin-right: 1%;
  height: auto;
  cursor: pointer;
}
    
.menu-buttons{
  width: 40%;
  height: 100%;
  margin-right: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
    
.btn{
  background-color: #e9d809;
  color: #422a06;
  border: none;
  font-weight: bold;
  font-size: 80%;
  padding: 10px 20px;
  border-radius: 4px;
}
  
.btn:hover{
  background-color: #c9ab05;
  cursor: pointer;
  transition: ease-out 0.3s;
}

.inicio-sesion{
  width: 15%;
  height: 100%;
  padding: 20px 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inicio-sesion img{
  width: 30%;
  height: auto;
  padding-right: 5%;
}

.btn-inicio{
  background-color: transparent;
  color: #f9f225;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

.btn-inicio:hover{
  color: #c9ab05;
  cursor: pointer;
  transition: 0.5s;
}

.enlaces-redes{
  background-color: #f9f225;
  width: 20%;
  height: 100%;
  padding: 0% 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-redes{
  width: 15%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-redes{
  width: 70%;
  height: auto;
}

.img-redes:hover{
  scale:  1.5;
  transition: 0.75s;
}

.menu2{
  display: none;
}


/* DROPDOWN */

.dropdown-menu{
  display: none;
  position: absolute;
  right: 10%;
  top: 70px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
  height: 400px;
}

.dropdown-menu ul li a{
  color: black;
  font-weight: bold;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.dropdown-menu ul li a:hover{
  /* color: #c9ab05; */
  cursor: pointer;
  transition: 0.5s;
  background-color: rgba(233, 216, 9, 0.5);  
}

  @media (max-width:1365px){

    .menu{
      width: 100%;
      height: 60px;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo{
      width: 15%;
      margin: 0% 1%;
      height: auto;
      cursor: pointer;
    }

    .menu-buttons{
      width: 60%;
      height: 60px;
      margin-right: 6%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

    .btn{
      background-color: #e9d809;
      color: #422a06;
      border: none;
      font-weight: bold;
      font-size: 65%;
      padding: 10px 15px;
      border-radius: 4px;
    }

    .inicio-sesion{
      width: 20%;
      height: 100%;
      padding: 20px 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .inicio-sesion img{
      width: 35%;
      height: auto;
      padding-right: 5%;
    }
    
    .btn-inicio{
      background-color: transparent;
      color: #f9f225;
      border: none;
      font-weight: bold;
      font-size: 80%;
    }

    .enlaces-redes{
      background-color: #f9f225;
      width: 20%;
      height: 100%;
      padding: 0% 0%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .btn-redes{
      width: 15%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .img-redes{
      width: 80%;
      height: auto;
    }

  }

  @media(max-width:920px) {

    .menu{
      display: none;
    }

    .menu2{
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: black;
    }

    .logo{
      position: absolute;
      left: 0;
      width: 30%;
      margin: 0% 1%;
      height: auto;
      cursor: pointer;
    }

    .btn-menu{
      background-color: #f9f225;
      width: 10%;
      height: 100%;
      padding: 0% 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
    }

    .btn-menu img{
      width: 30%;
      height: auto;
      cursor: pointer;
    }

    .dropdown-menu{
      display: block;
    }

    .drop-inicio-sesion{
      background-color: black;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .drop-inicio-sesion img{
      width: 22%;
      height: auto;
      cursor: pointer;
    }

    .drop-btn-inicio{
      background-color: transparent;
      color: #f9f225;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      border: none;
    }

    .drop-btn-inicio:hover{
      color: #c9ab05;
      cursor: pointer;
      transition: 0.5s;
    }

    .drop-enlaces-redes{
      background-color: #f9f225;
      width: 100%;
      height: 20%;
      padding: 0% 0%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .drop-btn-redes{
      width: 15%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .drop-btn-redes img{
      width: 70%;
      height: auto;
    }
    
    .drop-btn-redes img:hover{
      scale:  1.5;
      transition: 0.75s;
    }
  }

  @media(max-width:426px){

    .menu{
      display: none;
    }

    .menu2{
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: black;
    }

    .logo{
      position: absolute;
      left: 0;
      width: 40%;
      margin: 0% 1%;
      height: auto;
      cursor: pointer;
    }

    .btn-menu{
      background-color: #f9f225;
      width: 20%;
      height: 100%;
      padding: 0% 0%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn-menu img{
      width: 40%;
      height: auto;
      cursor: pointer;
    }

    .dropdown-menu{
      left: 2rem;
      width: unset;
    }

    .drop-btn-inicio{
      font-size: 18px;
    }

    .drop-inicio-sesion img{
      width: 20%;
    }

  }

  @media(max-width:375px){

    .menu{
      display: none;
    }

    .menu2{
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: black;
    }
    
  }

  @media(max-width:320px){

    .menu{
      display: none;
    }

    .menu2{
      width: 100%;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: black;
    }
    
  }