/* INICIO FOOTER */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

footer{
    background-color: black;
    width: 100%;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-content{
    width: 100%;
    height: 60%;
    margin: 0.25% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer-logo{
    width: 35%;
    height: 100%;
    margin: 0.25% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer-logo img{
    width: 80%;
    height: auto;
}

.footer-logo img:hover{
    cursor: pointer;
    transition: 1s;
    transform: scale(1.05);
}

.enlaces{
  padding: 0%;
  margin: 0%;
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enlaces-link{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enlaces-link a{
  color: #e9d809;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.enlaces-link a:hover{
  color: #c9ab05;
  transition: 0.75s;
  cursor: pointer;
}

.redes{
    width: 70%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-redes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-footer-redes{
    width: 80%;
    height: auto;
}

.img-footer-redes:hover{
    scale:  1.3;
    transition: 0.75s;
}

.footer-column{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-left: #c9ab05 2px solid;
}

.derechos{
    background-color: #e9d809;
    width: 100%; 
    margin: 0.5% 0%;
    padding: 1% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 100%;
}

  @media (max-width:768px) {

      footer{
        background-color: black;
        width: 100%;
        height: 300px;
        padding: 2% 0%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      }

      .footer-content{
        width: 100%;
        height: 60%;
        margin: 0.25% 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
      }

      .footer-logo{
        width: 50%;
      }

      .footer-column{
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-left: #c9ab05 2px solid;
      }

      .enlaces{
        width: 65%;
      }

      .enlaces-link a{
        font-size: 16px;
      }

      .redes{
        width: 80%;
        height: 30%;
        margin: 6% 0% 0% 0%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .derechos{
        background-color: #e9d809;
        width: 100%;
        height: 10%;
        margin: 1% 0%;
        padding: 2% 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 15px;
      }
    }

  @media (max-width:426px) {

    footer{
      background-color: black;
      width: 100%;
      height: 500px;
      padding: 2% 0%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

    .footer-content{
      width: 100%;
      height: 60%;
      margin: 0.25% 0%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .footer-logo{
      width: 70%;
      height: 100%;
      margin: 0.25% 0%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .footer-column{
      width: 80%;
      height: 100%;
      margin-top: 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      border: none;
    }

    /* ul, ul li a{
    color: #e9d809;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    } */

    .redes{
      width: 70%;
      height: 30%;
      margin: 8% 0% 0% 0%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

  }

  @media(max-width:375){

    footer{
      background-color: black;
      width: 100%;
      height: 425px;
      padding: 2% 0%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

  }

  @media (max-width:320px) {

    footer{
      background-color: black;
      width: 100%;
      height: 450px;
      padding: 2% 0%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

    .footer-content{
      width: 100%;
      height: 70%;
    }

    .footer-column{
      width: 80%;
      height: 100%;
      margin-top: 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      border: none;
    }

    .enlaces{
      height: 60%;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .enlaces-link a{
      color: #e9d809;
      text-decoration: none;
      font-weight: bold;
      font-size: 100%;
    }

    .redes{
      width: 70%;
      height: 30%;
      margin: 10% 0% 0% 0%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .derechos{
      background-color: #e9d809;
      width: 100%;
      height: 10%;
      margin: 1% 0%;
      padding: 2% 0%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 12px;
    }

  }