/* INICIO MAIN */

.content {
    background-image: url('../multimedia/img/portadaclases.jpg');
    padding-top: 7%;
    background-size: 100% auto;
    background-position: center;
    min-height: calc(65vh - 60px);
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column; 
    font-size: 500%;
}
  
.parrafo {
  padding: 6%;
  color: #fff;
  text-align: justify;
}

.button {
color: #ffffff;
border-top: 2px solid #fff; 
border-bottom: 2px solid #fff; 
border-left: none; 
border-right: none; 
border-radius: 0px;
padding: 18px 36px;
display: inline-block;
font-family: "Lucida Console", Monaco, monospace;
font-size: 27px;
cursor: pointer;
background-color: transparent;
box-shadow: inset 0 0 0 0 white;
-webkit-transition: ease-out 0.4s;
-moz-transition: ease-out 0.4s;
transition: ease-out 0.4s;
}

.button:hover {
box-shadow: inset 400px 0 0 0 white;
color: #3f638b;
}





.contenido1{
  padding: 4% 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a{
  color: #000000;
}

.cuadroservicio {
  display: flex;
  flex-direction: column;
  text-align: center; 
  width: 250px; 
  margin: 4px; 
  border:  groove 1px rgb(152, 150, 150);
  transition: background-color 0.5s;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.cuadroservicio:hover {
  background-color: #6fa5e3;
  transform: translateY(-10px);
}

.cuadroservicio img{
  border-radius: 5px;
  width: 250px;
  height: 300px;
}

.sercicio {
  display: flex;
  flex-direction: row;
}

.cuadroservicio span,
.cuadroservicio p {
  width: 100%; 
}

.cuadroservicio span{
  font-weight: bold;
  font-size: 25px;
}

.contenido2{
  display: flex;
  align-items: center;
  justify-content: center;
}

table{
  border-collapse: collapse;
}

th{
  width: 150px;
  font-size: 30px;
  border: 0.5px solid;
}

td{
  text-align: center;
  border: 0.5px solid;
  width: 150px;
  font-size: 25px;
}

.arribahr{
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separador{
  background-color: #114078;
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.section2{
  padding-bottom: 6%;
  padding-top: 3%;
  background-color: #ffffff;
}






.footer{
    background-color: rgb(0, 0, 0);
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.footerlogo{
  font-size: 40px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.footerf{
    width: 33,3333333%;
    display: flex;
    align-items: end;
}

.footerred{
  width: 33,3333333%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.footerred a{
  color: #fff;
  text-decoration: none;
}

.footerred a:hover{
  color: rgb(42, 99, 185);
  text-decoration: none;
  font-weight: bold;
}

#icono{
    width: 200px;
    margin-left: 50px;
}

.redes{
    display: flex;
    justify-content: space-around;
}

.barra-footer{
    display: flex;
    justify-content: center;
}
