*{
  font-family: 'Red Hat Display', sans-serif;
  }
  
  body {
      margin: 0;
      height: 100%;
    }
    
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #000;
      color: #fff;
      padding: 1% 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 999
    }
    
    .logo {
      margin-left: 2%;
      font-size: 30px;
    }
    
  .menu-buttons {
      display: flex;
      margin-right: 1%;
  }
    
  .menu-buttons button {
    background-color: rgb(42, 99, 185);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: ease-out 0.3s;
    border-radius: 4px;
  }
  
  .menu-buttons button:hover {
  background-color: #114078;
  }
  
.content {
    background-image: url('../multimedia/img/portadacontacto.jpg');
    background-size: 100% auto;
    background-position: center;
    min-height: calc(65vh - 60px);
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column; 
    font-size: 500%;
}
  
.parrafo {
  padding: 6%;
  color: #fff;
  text-align: justify;
}

.button {
color: #ffffff;
border-top: 2px solid #fff; 
border-bottom: 2px solid #fff; 
border-left: none; 
border-right: none; 
border-radius: 0px;
padding: 18px 36px;
display: inline-block;
font-family: "Lucida Console", Monaco, monospace;
font-size: 27px;
cursor: pointer;
background-color: transparent;
box-shadow: inset 0 0 0 0 white;
-webkit-transition: ease-out 0.4s;
-moz-transition: ease-out 0.4s;
transition: ease-out 0.4s;
}

.button:hover {
box-shadow: inset 400px 0 0 0 white;
color: #3f638b;
}

.section1{
  background-color: #071f3c;
  display: flex;
  color: #fff;
}

.contenidosection1{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.derecha{
  flex: 1;
}

.izquierda{
  flex: 1;
}

.azul{
  color: rgb(109, 160, 236);
  font-weight: bold;
  font-size: 15px;
  padding-top: 6%;
  padding-left: 5%;
}

.titulocontacto{
  font-weight: bold;
  font-size: 35px;
  padding-left: 5%;
}

.contactosengrid{
  display: grid;
  grid-template-columns: repeat(2, 10fr);
  padding: 2%;
}

.titulo{
  font-size: 22px;
}

.textocontacto{
  font-size: 20px;
}

.grid{
  padding: 8%;
}

.redescontacto{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.izquierda{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenidosection2{
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.titulosection2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

#titulosus{
  font-size: 27px;
  color: #114078;
  font-weight: bold;
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
}

.parte1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2%;
}

input[type="text"] {
  width: 50%;
  font-size: 40px;
  padding: 10px;
  box-sizing: border-box;
}

input[type="text"] {
  width: 50%;
  height: 70px;
  font-size: 40px;
}

.botonformulario{
  height: 100%;
  width: 20%;
  height: 70px;
  font-size: 44px;
  background-color: #071f3c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.botonformulario:hover{
  background-color: #3f638b;
  transition: ease-out 0.4s;
}

.checkbox{
  font-size: 25px;
}

iframe{
  border-radius: 20px;
}








.footer{
    background-color: rgb(0, 0, 0);
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.footerlogo{
  font-size: 40px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.footerf{
    width: 33,3333333%;
    display: flex;
    align-items: end;
}

.footerred{
  width: 33,3333333%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.footerred a{
  color: #fff;
  text-decoration: none;
}

.footerred a:hover{
  color: rgb(42, 99, 185);
  text-decoration: none;
  font-weight: bold;
}

#icono{
    width: 200px;
    margin-left: 50px;
}

.redes{
    display: flex;
    justify-content: space-around;
}

.barra-footer{
    display: flex;
    justify-content: center;
}
