 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  /* INICIO MAIN */

  .content{
    width: 100%;
    height: 800px;
    background-image: url('../multimedia/img/mujer-fondo-amarillo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 400%;
  }
    
  .parrafo{
    background-color: rgba(122, 122, 122, 0.2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 5%; 
    color: black;
    text-align: justify;
    border-radius: 20px;
    margin-left: 5%;
  }
  
  .button {
    color: #000000;
    border-top: 2px solid #000000; 
    border-bottom: 2px solid #000000; 
    border-left: none; 
    border-right: none; 
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 27px;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .button:hover {
    box-shadow: inset 450px 0 0 0px rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
  }

  .sec{
    padding: 2% 0%;
  }

  .img1{
    display: flex;
    position: absolute;
    width: 275px;
    height: auto;
    margin-left: 17%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  }

  .img2{
    display: flex;
    position: absolute;
    width: 275px;
    height: auto;
    margin-right: 17%;
    margin-bottom: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  }
  
  .content2{
    width: 100%;
    height: auto;
    background-image: url("/multimedia/img/portada2.webp");
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mi-titulo{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .mi-tarjeta{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }

  .trjt:hover{
    transform: translateY(-12px);
    transition: 0.75s;
  }

  .tituloform {
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
  }

  .mi-btn-2{
    background-color: #c9ad05;
    color: #422a06;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 4px;
  }
    
  .mi-btn-2:hover{
    background-color: #a07d08;
    cursor: pointer;
    transition: ease-out 0.3s;
  }
  
  .contenido5{
    background-color: #e6d809;
  }

  @media(max-width:1024px){

    .content{
      height: 600px;
      font-size: 200%;
    }

    .parrafo{
      padding: 5%;
      color: black;
      text-align: justify;
      border-radius: 20px;
      margin-left: 5%;
      width: 50%;
      height: 60%;
    }
    
    .button {
      padding: 14px 30px;
      font-size: 18px;
    }

    .img1{
      width: 250px;
    }

    .img2{
      width: 250px;
    }

  }

  @media(max-width:992px){

    .mi-img{
      width: 40%;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
    }

  }

  @media(max-width:768px){

    .content{
      height: 500px;
      font-size: 175%;
    }

    .mi-img{
      width: 40%;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
    }

  }

  @media(max-width:576px){

    .content{
      height: 400px;
      font-size: 100%;
    }

    .mi-img{
      margin: 2% 0%;
      width: 90%;
      height: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
    }

    .button {
      padding: 10px 25px;
      font-size: 12px;
    }

  }

  @media(max-width:426px){
    .content{
      height: 300px;
      font-size: 100%;
    }

    .button {
      padding: 10px 15px;
      font-size: 10px;
    }

  }

  @media(max-width:375px){

    .content{
      height: 275px;
      font-size: 75%;
    }

  }

  @media(max-width:320px){

    .content{
      height: 225px;
    }

    .button {
      padding: 8px 12px;
      font-size: 8px;
    }
    
  }