*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

/* INICIO MAIN */
  
.content {
  width: 100%;
  height: 400px;
  background-image: url('../multimedia/img/portadasobrenosotros.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 400%;
}
  
.mi-margen{
  margin-left: 64px;
}

.mi-img-valores:hover{
  cursor: pointer;
}

@media(max-width:1024px){

  .content{
    height: 300px;
    font-size: 300%;
  }
  
}

@media(max-width:768px){

  .content{
    height: 300px;
    font-size: 200%;
  }
  
}

@media(max-width:426px){

  .content{
    height: 250px;
    font-size: 150%;
  }

  .mi-margen{
    margin-left: 32px;
  }
  
}

@media(max-width:375px){

  .content{
    height: 200px;
  }
  
}