/* INICIO MAIN */

  .content {
    background-image: url('../multimedia/img/portadatienda.jpg');
    background-size: 100% auto;
    background-position: center;
    min-height: calc(90vh - 60px);
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column; 
    font-size: 500%;
}

.parrafo {
    padding: 2%;
    color: #fff;
    text-align: justify;
}

.button {
  color: #ffffff;
  border-top: 2px solid #fff; 
  border-bottom: 2px solid #fff; 
  border-left: none; 
  border-right: none; 
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 27px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button:hover {
  box-shadow: inset 400px 0 0 0 white;
  color: #3f638b;
}


















.tarjetas{
  max-width: 2000%;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textotitulo{
  font-size: 40px;
  color: #000000;
  font-weight: bold;
  padding: 5%;
  padding-bottom: 2%;
}

.product {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  margin-bottom: 8%;
  padding-bottom: 1px;
  background-color: #ffffff;
  transition: all 300ms ease-in-out;
}

.product:hover{
  scale: 1.05;
  background-color: #eef0f2;

}

/*se define tamaño de producto*/
.product img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 190px;
  height: 220px;
  
}

.imgcarta{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidocarta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  flex: 1;
  color: #000000;
  font-weight: bold;
  
}

.contenidocarta p {
  margin-top: -40px;
}

.contenidocarta button{
   border-radius: 10px;
   border-color: #8f383847;
   padding: 7px;
   margin-bottom: 7px;
}


.comprab{
  color: #000000;
  width: 100px;
  border-top: 2px solid #e1141430; 
  border-bottom: 2px solid #e1141430; 
  border-left: none; 
  border-right: none; 
  padding: 4px 9px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 rgba(156, 49, 49, 0.235);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  text-decoration: none;
}

.comprab:hover {
  box-shadow: inset 400px 0 0 0 white;
  color: #3f638b;
}


.buscadores{
  display: flex;
  flex-direction: row;
  padding-left: 6%;
}

#searchInput {
  background-color: #fff; 
  color: #281D10; 
  font-size: 30px; 
  padding: 10px; 
  border: 1px solid #3e3e3e;
  border-radius: 5px; 
  padding-right: 20px; 
  margin-bottom: 2%;
  margin-right: 40px;
  width: 80%;
}

.categorias{
  padding-left: 3%;
  display: flex;
  flex-direction: row;
}

select{
  background-color: #fff; 
  color: #281D10; 
  font-size: 30px; 
  padding: 1%; 
  margin-bottom: 4%;
  border: 1px solid #ccc;
  border-radius: 5px;   
}











.footer{
  background-color: rgb(0, 0, 0);
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  font-size: 20px;
  height: 200pxpx;
  color: white;
}

.footerlogo{
font-size: 40px;
}

.row{
  display: flex;
  justify-content: space-between;
}

.footerf{
  width: 33,3333333%;
  display: flex;
  align-items: end;
}

.footerred{
width: 33,3333333%;
display: flex;
align-items: start;
justify-content: center;
}

.footerred a{
color: #fff;
text-decoration: none;
}

.footerred a:hover{
color: rgb(42, 99, 185);
text-decoration: none;
font-weight: bold;
}

#icono{
  width: 200px;
  margin-left: 50px;
}

.redes{
  display: flex;
  justify-content: space-around;
}

.barra-footer{
  display: flex;
  justify-content: center;
}
