<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{ti.iron.inicio}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css-bootstrap/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <script th:src="@{/js/calcu-imc.js}"></script>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Dekko&family=Dosis:wght@200&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Exo:ital,wght@1,100;1,200&family=Patrick+Hand&family=Pixelify+Sans&family=Red+Hat+Display:wght@300&family=Source+Sans+3:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>
    <header th:insert="común/header"></header>

    <main>

      <div class="content">
        <div class="parrafo d-flex flex-column align-items-center justify-content-evenly">
          <span class="fw-bold" th:text="#{transforma}"></span>
          <span class="fw-bold" th:text="#{cuerpo}"></span>
          <a th:href="@{/clases}">
            <div>
              <button class="button" th:text="#{descubre}"></button>
            </div>
          </a> 
        </div>
      </div>

      <div class="container-fluid text-center">
          <div class="row">
            <div class="col">
              <span class="fs-2 fw-bold container-fluid d-xxl-flex d-xl-flex d-lg-flex d-none align-items-center justify-content-center py-2" th:text="#{calorías}"></span>

              <span class="fs-4 fw-bold container-fluid d-flex d-lg-none align-items-center justify-content-center py-2" th:text="#{calorías}"></span>
            </div>
          </div>
      </div>

      <section class="container-fluid d-xxl-flex d-xl-flex d-lg-flex d-none flex-row justify-content-center align-items-center bg-body-secondary sec">
        <div class="container-sm d-flex flex-row justify-content-center align-items-center">
            <img src="/multimedia/img/img1.jpg" class="img1 img-fluid">
            <img src="/multimedia/img/img2.jpg" class="img2 img-fluid">
        </div>
        <div class="container-sm">
          <span class="fs-4 fw-bold" th:text="#{conoce.sobre.nosotros}"></span><br>
          <span class="fs-1" th:text="#{elegirnos}"></span><br>
          <span class="fs-4" th:text="#{nuestro.gimnasio}"></span>
          <br><br>
          <span class="fs-4" th:text="#{únete.aquí}"></span>
        </div>
      </section>

      <div class="container-lg d-flex d-lg-none flex-column justify-content-center align-items-center bg-body-secondary sec">

        <div class="container-fluid d-none d-sm-flex d-lg-none flex-row align-items-center justify-content-evenly">
            <img src="/multimedia/img/img1.jpg" class="mi-img">
            <img src="/multimedia/img/img2.jpg" class="mi-img">
        </div>

        <div class="container-fluid d-flex d-sm-none flex-column align-items-center justify-content-evenly">
          <img src="/multimedia/img/img1.jpg" class="mi-img">
          <img src="/multimedia/img/img2.jpg" class="mi-img">
        </div>

        <div class="container sec">
          <span class="fs-4 fw-bold container-fluid d-none d-sm-flex d-lg-none" th:text="#{conoce.sobre.nosotros}"></span>
          <span class="fs-6 fw-bold container-fluid d-flex d-sm-none" th:text="#{conoce.sobre.nosotros}"></span>
          <span class="fs-1" th:text="#{elegirnos}"></span><br>
          <span class="fs-5" th:text="#{nuestro.gimnasio}"></span>
          <br><br>
          <span class="fs-5" th:text="#{únete.aquí}"></span>
        </div>
      </div>

      <div class="container-fluid text-center mb-2 mt-2">
        <div class="row">
          <div class="col">
            <span class="fs-2 fw-bold container-fluid d-xxl-flex d-xl-flex d-lg-flex d-none align-items-center justify-content-center" th:text="#{servicios.gym}"></span>
            <span class="fs-4 fw-bold container-fluid d-flex d-lg-none align-items-center justify-content-center" th:text="#{servicios.gym}"></span>
          </div>
        </div>
      </div>

      <div class="container-fluid mb-4 mt-4">
        <div class="row g-3">
          <!-- Tarjeta 1 -->
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-2 mt-2">
            <div class="card shadow trjt" style="width: 18rem;">
              <img src="/multimedia/img/aoe_medical_services-500x0-c-default.jpg" class="card-img-top" alt="Imagen sobre servicios médicos">
              <div class="card-body">
                <h5 class="card-title fw-bold" th:text="#{servicio.m}"></h5>
                <p class="card-text" th:text="#{descripción.servicio.m}"></p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-2 mt-2">
            <div class="card shadow trjt" style="width: 18rem;">
              <img src="/multimedia/img/piscina.jpg" class="card-img-top" alt="Imagen de una piscina">
              <div class="card-body">
                <h5 class="card-title fw-bold" th:text="#{servicio.p}"></h5>
                <p class="card-text" th:text="#{descripción.servicio.p}"></p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-2 mt-2">
            <div class="card shadow trjt" style="width: 18rem;">
              <img src="/multimedia/img/clasess.jpg" class="card-img-top" alt="Imagen sobre clases">
              <div class="card-body">
                <h5 class="card-title fw-bold" th:text="#{servicio.c.f}"></h5>
                <p class="card-text" th:text="#{descripción.servicio.c.f}"></p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 4 -->
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-2 mt-2">
            <div class="card shadow trjt" style="width: 18rem;">
              <img src="/multimedia/img/tiendaa.jpeg" class="card-img-top" alt="Imagen sobre la tienda del gimnasio">
              <div class="card-body">
                <h5 class="card-title fw-bold" th:text="#{servicio.t}"></h5>
                <p class="card-text" th:text="#{descripción.servicio.t}"></p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 5 -->
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-2 mt-2">
            <div class="card shadow trjt" style="width: 18rem;">
              <img src="/multimedia/img/cafeteria.jpg" class="card-img-top" alt="Imagen sobre la cafetería">
              <div class="card-body">
                <h5 class="card-title fw-bold" th:text="#{servicio.c}"></h5>
                <p class="card-text" th:text="#{descripción.servicio.c}"></p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 6 -->
          <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-2 mt-2">
            <div class="card shadow trjt" style="width: 18rem;">
              <img src="/multimedia/img/pesasarea.jpg" class="card-img-top" alt="Imagen sobre el área de pesas">
              <div class="card-body">
                <h5 class="card-title fw-bold" th:text="#{servicio.e.p}"></h5>
                <p class="card-text" th:text="#{descripción.servicio.e.p}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="content2 py-5">
        <div class="container">
          <div class="text-center mb-5 mi-titulo fs-2 p-4 shadow-lg">
            <span class="fw-bold" th:text="#{encontrar.plan}"></span>
          </div>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Tarjeta 1 -->
            <div class="col">
              <div class="card h-100 bg-transparent border-0">
                <div class="card-body text-center mi-tarjeta text-light trjt">
                  <h5 class="card-title fw-bold" th:text="#{plan.básico}"></h5>
                  <hr>
                  <p class="card-text"><span class="h4" th:text="#{precio.básico}"></span></p>
                  <ul class="list-unstyled">
                    <li th:text="#{servicio.salud}"></li>
                    <li th:text="#{servicio.piscina}"></li>
                    <li th:text="#{servicio.área}"></li>
                  </ul>
                  <a th:href="@{/login}" class="btn btn-outline-light mt-3" th:text="#{adquirir}"></a>
                </div>
              </div>
            </div>
            <!-- Tarjeta 2 -->
            <div class="col">
              <div class="card h-100 bg-transparent border-0">
                <div class="card-body text-center mi-tarjeta text-light trjt">
                  <h5 class="card-title fw-bold" th:text="#{plan.estándar}"></h5>
                  <hr>
                  <p class="card-text"><span class="h4" th:text="#{precio.estándar}"></span></p>
                  <ul class="list-unstyled">
                    <li th:text="#{servicio.salud}"></li>
                    <li th:text="#{servicio.piscina}"></li>
                    <li th:text="#{servicio.área}"></li>
                    <li th:text="#{servicio.clases}"></li>
                  </ul>
                  <a th:href="@{/login}" class="btn btn-outline-light mt-3" th:text="#{adquirir}"></a>
                </div>
              </div>
            </div>
            <!-- Tarjeta 3 -->
            <div class="col ">
              <div class="card h-100 bg-transparent border-0">
                <div class="card-body text-center mi-tarjeta text-light trjt">
                  <h5 class="card-title fw-bold" th:text="#{plan.premium}"></h5>
                  <hr>
                  <p class="card-text"><span class="h4" th:text="#{precio.premium}"></span></p>
                  <ul class="list-unstyled">
                    <li th:text="#{servicio.salud}"></li>
                    <li th:text="#{servicio.piscina}"></li>
                    <li th:text="#{servicio.área}"></li>
                    <li th:text="#{servicio.clases}"></li>
                    <li th:text="#{llevar.amigos}"></li>
                  </ul>
                  <a th:href="@{/login}" class="btn btn-outline-light mt-3" th:text="#{adquirir}"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5 bg-body-tertiary">
        <div class="container">
          <div class="row">
            <!-- Formulario de IMC -->
            <div class="col-12 col-lg-6 mb-4">
              <div class="contenido5 p-4 border rounded shadow">
                <span class="tituloform fs-4 fs-md-3 fs-lg-2" th:text="#{calcu}"></span>
                <form id="imcForm">
                  <div class="mb-3">
                    <label for="peso" class="form-label" th:text="#{peso}"></label>
                    <input type="number" id="peso" class="form-control" required>
                  </div>
                  <div class="mb-3">
                    <label for="altura" class="form-label" th:text="#{altura}"></label>
                    <input type="number" id="altura" class="form-control" required>
                  </div>
                  <button type="button" onclick="calcularIMC()" class="mi-btn-2" th:text="#{cálculo}"></button>
                </form>
                <div class="mt-3">
                  <span th:text="#{resultado}"></span>
                  <span id="resultadoCalculo"></span>
                </div>
              </div>
            </div>
      
            <!-- Tabla de clasificación de IMC -->
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
              <div>
                <table class="table border-black border-2 rounded table-bordered table-hover shadow fs-5">
                  <thead class="table-dark border-black">
                    <tr>
                      <th th:text="#{imc}"></th>
                      <th th:text="#{cls}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td th:text="#{diez.ocho}"></td>
                      <td th:text="#{bajo.peso}"></td>
                    </tr>
                    <tr>
                      <td th:text="#{veinti.cuatro}"></td>
                      <td th:text="#{saludable}"></td>
                    </tr>
                    <tr>
                      <td th:text="#{veinti.nueve}"></td>
                      <td th:text="#{exceso.peso}"></td>
                    </tr>
                    <tr>
                      <td th:text="#{treinta}"></td>
                      <td th:text="#{obeso}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>    
    </main>

    <footer th:insert="común/footer"></footer>
</body>
</html>