<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="shorcut - icon" href="../multimedia/img/icono.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/index.css" rel="stylesheet">
  <script src="/js/calcu-imc.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Dekko&family=Dosis:wght@200&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Exo:ital,wght@1,100;1,200&family=Patrick+Hand&family=Pixelify+Sans&family=Red+Hat+Display:wght@300&family=Source+Sans+3:wght@200;300&display=swap" rel="stylesheet">
  <title>Iron Body</title>
</head>
<body>
  <header class="menu" id="inicio">
        <img src="/multimedia/img/logo2.png" class="logo">
      
        <div class="menu-buttons">
          <button class="btn-active">
            INICIO
          </button>
          <a href="/html/tienda.html">
            <button class="btn">TIENDA</button>
          </a>
          <a href="/html/clases.html">
            <button class="btn">CLASES</button>
          </a>
          <a href="/html/sobrenosotros.html">
            <button class="btn">SOBRE NOSOTROS</button>
          </a>
          <a href="/html/contactos.html">
            <button class="btn">CONTÁCTENOS</button>
          </a>
        </div>

        <div class="inicio-sesion">
          <img src="/multimedia/sgv/usu-inicio.svg" alt="logo inicio sesión">
          <a href="/html/inicio-sesion.html">
            <button class="btn-inicio">Iniciar Sesión</button>
          </a>
        </div>

        <div class="enlaces-redes">
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/youtube.svg" alt="" class="img-redes">
          </a>
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/instagram.svg" alt="" class="img-redes">
          </a>
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/facebook.svg" alt="" class="img-redes">
          </a>
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/twitter.svg" alt="" class="img-redes">
          </a>
        </div>
  </header>

  <main>
    <div class="content">
      <div class="parrafo">
        <span>TRANSFORMA TU <br>
          CUERPO
        </span>

        <a href="./html/clases.html">
          <div>
            <button class="button">Descubre más</button>
          </div>
        </a> 
      </div>
    </div>

    <section class="caja-azul">
      <div>
        <span class="texto">LAS EXCUSAS QUEMAN CERO CALORÍAS POR HORA</span>
      </div>
    </section>

    <section class="seccion1">
        <div class="imagenes">
            <img src="/multimedia/img/img1.jpg" class="img1">
            <img src="/multimedia/img/img2.jpg" class="img2">
        </div>
        <div class="textosection1">
          <div class="titulo">CONOCE SOBRE NOSOTROS</div>
          <div class="tituloprincipal1">
            <span>¿POR QUÉ ELEGIRNOS?</span>
          </div><br>
          <div class="parrafo1"><span>En nuestro gimnasio, te ofrecemos un equipo de entrenadores profesionales y dedicados, una amplia variedad de servicios que van desde clases grupales hasta entrenamientos personalizados, el acceso a equipos de primera calidad y un ambiente amigable que te motivará. Nos enorgullece formar una comunidad de apoyo que te ayudará a alcanzar tus objetivos de salud y bienestar.</span>
          </div><br>
            
          <div class="parrafo1">
            <span>
              Únete aquí con nosotros y descubre por qué somos la elección ideal para tu viaje hacia una vida más saludable.
            </span>
          </div>
        </div>
    </section>

    <section class="seccion2">
      <div class="contenido2">
        <div class="Textoarriba">
          <div class="tituloprincipal1"><span>SERVICIOS DEL GIMNASIO</span></div><br>
        </div>
        <div class="sercicio">
        <div class="cuadroservicio">
          <h1>Servicios medicos</h1>
          <img src="/multimedia/img/aoe_medical_services-500x0-c-default.jpg" alt="Imagen">
          <div class="text">
              <p>El servicio esta disponible para todos las personas del gimnasio atendiendo cualquier lecion o herida</p>
          </div>
        </div>
          <div class="cuadroservicio">
            <h1>Servicio de piscina</h1>
            <img src="/multimedia/img/piscina.jpg" alt="Imagen">
            <div class="text">
                <p>La piscina ofrecera el servicio de natación y clases acuáticas</p>
            </div>
          </div>
            <div class="cuadroservicio">
              <h1>Servicio de clases de fitness</h1>
              <img src="/multimedia/img/clasess.jpg" alt="Imagen">
              <div class="text">
                  <p>Ofrecen una amplia gama de clases, como yoga, spinning, zumba y entrenamiento en grupo.</p>
              </div>
            </div>
        </div>

        <div class="sercicio">
          <div class="cuadroservicio">
            <h1>Servicio de tienda</h1>
            <img src="/multimedia/img/tiendaa.jpeg" alt="Imagen">
            <div class="text">
                <p>La tienda ofrece productos para el gimnasio tales como suplementos, ropa deportiva entre otros accesorios </p>
            </div>
          </div>
            <div class="cuadroservicio">
              <h1>Servicio de cafeteria</h1>
              <img src="/multimedia/img/cafeteria.jpg" alt="Imagen">
              <div class="text">
                  <p>Ofrecen opciones de alimentos saludables y bebidas post-entrenamiento.</p>
              </div>
            </div>
            <div class="cuadroservicio">
              <h1>Área de entrenamiento con pesas</h1>
              <img src="/multimedia/img/pesasarea.jpg" alt="Imagen">
              <div class="text">
                  <p> Incluye una variedad de máquinas y pesas libres para el entrenamiento de fuerza.</p>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="section3" id="plan">
      <div class="contenido3">
        <div class="plan"><span>ENCUENTRA UN PLAN PERFECTO</span></div>
      <div class="tarjetas">
        <div class="tarjeta" id="tarjeta2">
          <div class="contenidotarjeta">
            <div class="arriba">PLAN BÁSICO</div>
            <hr>
            <div class="precio"><span>$60.000 COP</span></div>
            <div class="lista">
              <ul>
                <li>Servicio de salud</li>
                <li>Servicio de piscina</li>
                <li>Área de entrenamiento</li>
              </ul>
            </div>
            <div class="botontarjeta"><button type="button" class="botontarjetaestilo">Comprar ya</button></div>
        </div>
      </div>
        <div class="tarjeta">
          <div class="contenidotarjeta">
            <div class="arriba">PLAN ESTÁNDAR</div>
            <hr>
            <div class="precio"><span>$70.000 COP</span></div>
            <div class="lista">
              <ul>
                <li>Servicio de salud</li>
                <li>Servicio de piscina</li>
                <li>Área de entrenamiento</li>
                <li>Servicio de clases de fitness</li>
              </ul>
            </div>
            <div class="botontarjeta"><button type="button" class="botontarjetaestilo">Comprar ya</button></div>
        </div>
      </div>
      <div class="tarjeta" id="tarjeta2">
        <div class="contenidotarjeta">
          <div class="arriba">PLAN PREMIUM</div>
          <hr>
          <div class="precio"><span>$80.000 COP</span></div>
          <div class="lista">
            <ul>
              <li>Servicio de salud</li>
              <li>Servicio de piscina</li>
              <li>Área de entrenamiento</li>
              <li>Servicio Clases de fitness</li>
              <li>LLevar a 5 amigos </li>
            </ul>
          </div>
          <div class="botontarjeta"><button type="button" class="botontarjetaestilo">Comprar ya</button></div>
      </div>
    </div>
    </div>
    </div>
    </section>

    <section class="section5">
      <div class="contenido5">
        <span class="tituloform">Calculadora de IMC</span><br><br>
          <form id="imcForm">
            <label for="peso">Peso (kg):</label>
              <input type="number" id="peso" required><br><br>
            <label for="altura">Altura (m):</label>
              <input type="number" id="altura" required><br><br>
                <button type="button" onclick="calcularIMC()" class="buttonform">Calcular IMC</button>
          </form>
             <span>Su IMC es: <span id="resultadoIMC"></span></span>
      </div>

      <div class="contenido52">
        <table>
          <tr>
            <th>Índice de Masa Corporal (IMC)</th>
            <th>Clasificación</th>
          </tr>
          <tr>
            <td>Menos de 18,5</td>
            <td>Bajo peso</td>
          </tr>
          <tr>
            <td>18,5 - 24,9</td>
            <td>Saludable</td>
          </tr>
          <tr>
            <td>25,0 - 29,9</td>
            <td>Exceso de peso</td>
          </tr>
          <tr>
            <td>30,0 y superior</td>
            <td>Obeso</td>
          </tr>
        </table>
      </div>
    </section>

    <section class="section2">
      <div class="contenido2">
        <div class="entrenador"><span>NUESTROS ENTRENADORES</span></div>
        <div class="tarjetaspersona">
          <div class="tarjetapersona" id="william">
            <div class="contenidotarjeta2">
              <div class="textodepersona">
                <div class="textodepersonatitulo">ENTRENADOR</div>
                <div class="textodepersonanombre">William Vargas</div>
                <hr width="90%" style="color: aliceblue;">
                <div class="redes"> 
                  <img id="wh" src="/multimedia/sgv/whatsapp-svgrepo-com.svg" width="30" alt="WhatsApp">
                  <img id="Em" src="/multimedia/sgv/facebook-svgrepo-com.svg" width="30" alt="Email">
                  <img src="/multimedia/sgv/instagram-svgrepo-com.svg" width="30" alt="instagram">
                </div>
              </div>
            </div>
          </div>


          <div class="tarjetapersona" id="mike">
            <div class="contenidotarjeta2">
              <div class="textodepersona">
                <div class="textodepersonatitulo">ENTRENADOR DE NATACIÓN</div>
                <div class="textodepersonanombre">Mike Andrés Perdomo</div>
                <hr width="90%" style="color: aliceblue;">
                <div class="redes"> 
                  <img id="wh" src="/multimedia/sgv/whatsapp-svgrepo-com.svg" width="30" alt="WhatsApp">
                  <img id="Em" src="/multimedia/sgv/facebook-svgrepo-com.svg" width="30" alt="Email">
                  <img src="/multimedia/sgv/instagram-svgrepo-com.svg" width="30" alt="instagram">
                </div>
              </div>
            </div>
        </div>


        <div class="tarjetapersona" id="lisa">
          <div class="contenidotarjeta2">
            <div class="textodepersona">
              <div class="textodepersonatitulo">ENTRENADORA DE CARDIO</div>
              <div class="textodepersonanombre">Lisa Juana Pilar</div>
              <hr width="90%" style="color: aliceblue;">
              <div class="redes"> 
                <img id="wh" src="/multimedia/sgv/whatsapp-svgrepo-com.svg" width="30" alt="WhatsApp">
                <img id="Em" src="/multimedia/sgv/facebook-svgrepo-com.svg" width="30" alt="Email">
                <img src="/multimedia/sgv/instagram-svgrepo-com.svg" width="30" alt="instagram">
              </div>
            </div>
          </div>
      </div>

      </div>
      </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/multimedia/img/logo.png" alt="logo gimnasio">
      </div>

      <div class="footer-column">
        <ul>
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="/html/tienda.html">Tienda</a></li>
          <li><a href="/html/clases.html">Clases</a></li>
          <li><a href="/html/sobrenosotros.html">Sobre nosotros</a></li>
          <li><a href="/html/contactos.html">Contáctanos</a></li>
        </ul>
        <div class="redes">
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/youtube-amarillo.svg" alt="" class="img-footer-redes">
          </a>
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/instagram-amarillo.svg" alt="" class="img-footer-redes">
          </a>
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/facebook-amarillo.svg" alt="" class="img-footer-redes">
          </a>
          <a href="#" class="btn-redes">
            <img src="/multimedia/sgv/twitter-amarillo.svg" alt="" class="img-footer-redes">
          </a>
        </div>
      </div>
    </div>




    <div class="derechos">
      © 2024 Iron Body. Todos los derechos reservados.
    </div>

  </footer>
  </body>
</html>
