<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css-bootstrap/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css-común/css-footer.css}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Dekko&family=Dosis:wght@200&family=Edu+NSW+ACT+Foundation:wght@400;500&family=Exo:ital,wght@1,100;1,200&family=Patrick+Hand&family=Pixelify+Sans&family=Red+Hat+Display:wght@300&family=Source+Sans+3:wght@200;300&display=swap" rel="stylesheet">
    </head>
    <footer>
        <div class="footer-content">
          <div class="footer-logo">
            <img th:src="@{/multimedia/img/logo.png}" alt="logo gimnasio">
          </div>

          <div class="footer-column">
            <ul class="enlaces">
              <li class="enlaces-link">
                <a th:href="@{/inicio}" th:text="#{inicio.f}"></a>
              </li>
              <li class="enlaces-link">
                <a th:href="@{/sobre_nosotros}" th:text="#{sobre.f}"></a>
              </li>
              <li class="enlaces-link">
                <a th:href="@{/contacto}" th:text="#{contacto.f}"></a>
              </li>
            </ul>
            <div class="redes">
              <a th:href="@{https://www.youtube.com/@Ironbodyteam}" target="_blank" class="btn-redes">
                <img th:src="@{/multimedia/sgv/youtube-amarillo.svg}" alt="Logo de Youtube" class="img-footer-redes">
              </a>
              <a th:href="@{https://www.instagram.com/ironbodyneiva/}" target="_blank" class="btn-redes">
                <img th:src="@{/multimedia/sgv/instagram-amarillo.svg}" alt="Logo de Instagram" class="img-footer-redes">
              </a>
              <a th:href="@{https://www.facebook.com/ironbodyneiva}" target="_blank" class="btn-redes">
                <img th:src="@{/multimedia/sgv/facebook-amarillo.svg}" alt="Logo de Facebook" class="img-footer-redes">
              </a>
              <a th:href="@{https://api.whatsapp.com/send/?phone=573143455483&text&type=phone_number&app_absent=0}" target="_blank" class="btn-redes">
                <img th:src="@{/multimedia/sgv/whatsapp-amarillo-svgrepo-com.svg}" alt="Logo de Whatsapp" class="img-footer-redes">
              </a>
            </div>
          </div>
        </div>

        <div class="derechos">
          <span th:text="#{derechos}"></span>
        </div>

    </footer>
</html>